In [7]:
import yfinance as yf
import pandas as pd
kospi200 = yf.download('^KS11', start = "2011-01-01", end="2023-09-01")['Close']

[*********************100%***********************]  1 of 1 completed

In [15]:
usdkrw = yf.download('USDKRW=X', start = "2011-01-01", end="2023-09-01")['Close']

[*********************100%***********************]  1 of 1 completed

In [16]:
usdkrw.name = 'USDKRW'

In [17]:
kospi200.name = 'KOSPI200'

In [18]:
data = pd.concat([usdkrw, kospi200], axis=1)

In [22]:
data.head()

                 USDKRW     KOSPI200
Date
2011-01-03  1122.400024  2070.080078
2011-01-04  1124.800049  2085.139893
2011-01-05  1122.000000  2082.550049
2011-01-06  1128.000000  2077.610107
2011-01-07  1125.800049  2086.199951

In [27]:
import pandas as pd
import yfinance as yf

# KOSPI 200 데이터 가져오기
kospi200 = yf.download("^KS11", start="2011-04-01", end="2023-10-04")['Close']
kospi200.name = 'KOSPI200'

# 데이터프레임 생성
data = pd.DataFrame(kospi200)

# KOSPI 200의 값을 소수점 둘째 자리에서 반올림
data['KOSPI200'] = data['KOSPI200'].round(2)

# KOSPI 200의 전방 반환값 계산 (퍼센트로 변환하고 소수점 둘째 자리에서 반올림)
forward_days = 60
data['Forward_Return'] = ((data['KOSPI200'].shift(-forward_days) / data['KOSPI200']) - 1) * 100
data['Forward_Return'] = data['Forward_Return'].round(2)

# 'Forward_Return'에서 NaN 값을 '아직없음'으로 대체
data['Forward_Return'].fillna('아직없음', inplace=True)

# 필요한 경우 CSV로 저장
data.to_csv('modified_data.csv')

# 데이터의 처음 5행 출력
print(data.head())

[*********************100%***********************]  1 of 1 completed
            KOSPI200 Forward_Return
Date
2011-04-01   2121.01          -1.25
2011-04-04   2115.87          -0.72
2011-04-05   2130.43          -0.22
2011-04-06   2126.71           0.87
2011-04-07   2122.14           1.87